<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">A French corpus with surface and deep syntactic annotations </p>
    </div>

    <ul class="sidebar-nav">

      <hr/>
      <li class="section">Information</li>
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li><a href="{{ .Site.BaseURL }}example">Example</a></li>
      <li><a href="{{ .Site.BaseURL }}process">Process</a></li>
      <li><a href="http://deep-sequoia.inria.fr/download/sequoia-9.2.tgz">Download version 9.2</a></li>
      <li><a href="{{ .Site.BaseURL }}versions">All versions</a></li>
      <li><a href="{{ .Site.BaseURL }}contact">Contact</a></li>
      <li><a href="{{ .Site.BaseURL }}licence">Licence (LGPL-LR)</a></li>
    </ul>
  </div>
  <div class="logo" style="background-color:white">
    <table style="border:0px">
  <tr>
    <td style="border:0px; background-color:white"><a href="http://www.llf.cnrs.fr/"><img src="{{ .Site.BaseURL }}logo/llf.png"/></a></td>
    <td style="border:0px; background-color:white"><a href="https://www.loria.fr"><img src="{{ .Site.BaseURL }}logo/loria.png"/></a></td>
  </tr>
  <tr>
    <td style="border:0px; background-color:white"><a href="https://www.inria.fr"><img src="{{ .Site.BaseURL }}logo/inria.jpg"/></a></td>
    <td style="border:0px; background-color:white"><a href="http://www.labex-efl.com"><img src="{{ .Site.BaseURL }}logo/efl.png"/></a></td>
  </tr>
</table>


  </div>
</div>
